@import 'tailwindcss/tailwind.css';

.fade-out {
  opacity: 1;
  transition: opacity 5s ease-in-out;
}

.fade-out.fade-out-active {
  opacity: 0;
}

/* Hide scrollbars */
* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* Hide spinner acomponent in html number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}